a#link-1:link {
    color: green;
}

a#link-1:visited {
    color: red;
}

a#link-4:hover {
    background-color: aqua;
    font-size: 40px;
    text-decoration: none;
}

 div.tabela > div.klient:first-child {
    background-color: aqua; 
}

/*     
div.tabel :first-child {
    background-color: aqua; 
}
*/

div.tabela div.klient:last-child {
    background-color: blue;
}

div.tabela :nth-child(4) {
    background-color: brown;
}

div.tabela :nth-child(4n + 5) {
    background-color: yellow;
}
    
